<h1>All Our Users' Dishes</h1>
<% @dishes.each do |d| %>
    Dish Name: <%= d.name %><br>
    <% days_ago = Date.today - d.date %>
    Visit Date: <%= d.date %> (<%= days_ago.to_i %> days ago)<br>
    Rating: <%= d.rating %><br>
    From Restaurant: <%= d.restaurant.name %><br><br>
<% end %>