
<% unless @error_message != "invalid input" %>
  **Please fill in all required fields**<br><br>
<% end %>
<h3>Add a new dish</h3>

<form action="/dishes" method="POST">
  <label> Dish Name: </label>
  <input type="text" name="dish[name]"> <br>
  
  <h3>Or select a previously logged dish to add a visit</h3>

  <% @dishes.each do |d| %>
    <input type="radio" name="visit[dish_id]" value="<%= d.id %>"><%= d.name %></input><br>
  <% end %>

  <h3>Then fill in the information about your visit</h3>
  
  <label> Visit Date: </label>
  <input type="date" name="visit[date]"> <br>

  <label> Rating: </label>
  <input type="text" name="visit[rating]"> <br><br>

  <label> Review (optional): </label>
  <textarea name="visit[review]"></textarea> 

  <h3>What restaurant does this dish belong to?</h3>

  <h4>Existing Restaurants</h4>
  <% @restaurants.each do |r| %>
    <input type="radio" name="dish[restaurant_id]" value="<%= r.id %>"><%= r.name %></input><br>
  <% end %>
  <br>

  <h4>New Restaurant</h4>
  <label>Restaurant Name: </label>
  <br>
  <input type="text" name="restaurant[name]"></input>
  <label> Restaurant Type: </label>
  <input type="text" name="restaurant[cuisine]"> </br>
  <input type="hidden" name="restaurant[user_id]" value="<%= current_user.id %>">
  <br><br>

  <input type="submit" value="Create">
</form>