<h1><%= @restaurant.name %> Detail</h1>
Restaurant Type: <%= @restaurant.cuisine %> <br>
What Did I Get Last Time? <%= @most_rec.dish.name %> <br>
<p style="margin-left: 40px">
  Ordered <%= (Date.today - @most_rec.date).to_i %> Days Ago<br>
  Rating: <%= @most_rec.rating %> <br>
  Review: <%= @most_rec.review %> <br>
</p>

<% sum = 0 %>
<% total_visits = 0 %>
<% @restaurant.dishes.each do |d| %>
  <% d.visits.each do |v| %>
    <% sum += v.rating %>
    <% total_visits += 1 %>
  <% end %>
<% end %>

Average Rating For This Restaurant: <%= sum/total_visits %><br>
Restaurant Review: <br>

Logged Dishes: <br>
<% if @restaurant.user %>
  Added By User: <%= @restaurant.user.username %> <br><br>
<% else %>
  Added By User: Unknown
<% end %>
<form method="post" action="/restaurants/<%= @restaurant.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
